{{ define "main" }}
    <main class="cyber-about">
        <!-- Left Column -->
        <div class="cyber-column">
            <section class="cyber-section">
                {{ .Content | safeHTML }} <!-- Your markdown content -->
            </section>
            
            <section class="cyber-section">
                <h2>> HELP_CENSORED_USERS</h2>
                <iframe src="https://snowflake.torproject.org/embed.html" 
                        width="240" 
                        height="240" 
                        class="cyber-iframe"
                        frameborder="0"></iframe>
            </section>
        </div>
        
        <!-- Right Column -->
        <div class="cyber-column">
            
            <section class="cyber-section">
                <h2>> CODE_FEED [GITHUB]</h2>
                <div class="cyber-feed" id="github-feed"></div>
            </section>
            
            <section class="cyber-section">
                <h2>> KERNEL_FEED</h2>
                <div class="cyber-feed" id="kernel-feed"></div>
            </section>
            
            <section class="cyber-section">
                <h2>> DISTRIBUTED_COMPUTE</h2>
              <a href="https://stats.free-dc.org/stats.php?page=userbycpid&cpid=54de5746ae97967e2f95bade7e5c257d"><img src="https://stats.free-dc.org/cpidtagb.php?cpid=54de5746ae97967e2f95bade7e5c257d&theme=3&cols=2" 
                     alt="BOINC Stats" 
                     class="cyber-iframe">
              </a>
            </section>
<!--            
            <section class="cyber-section">
              <h2>> GITHUB_DEV_LANG</h2>
              <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=vicendominguez&layout=compact&theme=tokyonight" alt="Language Stats" class="cyber-iframe">
            </section>
-->
        </div>
    <!-- Feed Parser -->
    <script src="{{ "js/feed-parser.js" | relURL }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            loadFeed('http://github.com/vicendominguez.atom', 'github-feed');
            loadFeed('http://www.kernel.org/feeds/kdist.xml', 'kernel-feed');
        });
    </script>
    </main>
{{ end }}

